# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node dependencies
node_modules/

# Build / distribution
dist/
dist-ssr/
build/
*.local

# Environment files
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc / OS files
Thumbs.db
desktop.ini

# Optional for React apps
coverage/
*.test.js
*.test.jsx
*.test.ts
*.test.tsx
